[Desktop Entry]
Name=HyprNestopia
Comment=Accurate NES Emulator
Exec=hyprnestopia %f
Icon=hyprnestopia
Terminal=false
Type=Application
Categories=Game;Emulator;
